.gradle
/gradle
/app/version.properties
/local.properties
.DS_Store
/build
/captures
*.iml
/keystore/*.jks
.DS_Store
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
